* {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(180deg, rgba(9, 9, 43, 0.5) 0%, rgba(1, 15, 90, 0.2) 100%), url(../assets/camera.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  header {
    min-height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    min-height: 60vh;
  }
}

.photo-grid img {
  max-height: 250px;
  cursor: pointer;
}

@media screen and (max-width: 993px) {
  .photo-grid img {
    margin: auto;
  }
}

.parallax-container {
  margin: 50px 0;
}

h2 {
  margin-top: 15px;
}

form label {
  z-index: -1;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}

.sos-med li a:hover {
  color: rgb(121, 140, 226) !important;
}